In [74]:
import pandas as pd # library for data analsysis

Postal code were downloaded and copied into an excel file where I dropped 'Not assigned' rows. Then I uploaded the excel file to the following url.

In [83]:
neighborhoods = pd.read_excel('http://asvalon.altervista.org/wp-content/uploads/2020/05/toronto.xlsx')
neighborhoods.head()

  Postal Code Borough                                      Neighborhood
0         M6E    York                               Caledonia-Fairbanks
1         M6M    York  Del Ray, Mount Dennis, Keelsdale and Silverthorn
2         M6C    York                                Humewood-Cedarvale
3         M6N    York                     Runnymede, The Junction North
4         M9N    York                                            Weston

As we can see, no more than one neighborhood exists in one postal code area. No need for further data manipulation.

In [76]:
code_count = neighborhoods['Postal Code'].value_counts()
num_code = code_count.shape
num_code = num_code[0]
print('In total we have', num_code, 'codes')
k = 0
for i in range (0,103):
    if code_count[i] != 1:
        k = k + 1
print('In total we have',k, 'neighborhoods with same postal code')

In total we have 103 codes
In total we have 0 neighborhoods with same postal code

In [77]:
print('Shape of neighborhoods dataframe:', neighborhoods.shape)

Shape of neighborhoods dataframe: (103, 3)

Now we build the dataframe with coordinates and sort it by Postal Code.

In [82]:
coordinates = pd.read_csv('https://cocl.us/Geospatial_data')
coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Now we merge the two dataframe

In [85]:
neighborhoods_coordinates = pd.merge(neighborhoods, coordinates, on = 'Postal Code' )
neighborhoods_coordinates.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M6E,York,Caledonia-Fairbanks,43.689026,-79.453512
1,M6M,York,"Del Ray, Mount Dennis, Keelsdale and Silverthorn",43.691116,-79.476013
2,M6C,York,Humewood-Cedarvale,43.693781,-79.428191
3,M6N,York,"Runnymede, The Junction North",43.673185,-79.487262
4,M9N,York,Weston,43.706876,-79.518188