In [2]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

import folium # map rendering library

print('Libraries imported.')

Libraries imported.

Postal code were downloaded and copied into an excel file where I dropped 'Not assigned' rows. Then I uploaded the excel file to the following url.

In [46]:
neighborhoods = pd.read_excel('http://asvalon.altervista.org/wp-content/uploads/2020/05/toronto.xlsx')
neighborhoods.head()

  Postal Code Borough                                      Neighborhood
0         M6E    York                               Caledonia-Fairbanks
1         M6M    York  Del Ray, Mount Dennis, Keelsdale and Silverthorn
2         M6C    York                                Humewood-Cedarvale
3         M6N    York                     Runnymede, The Junction North
4         M9N    York                                            Weston

As we can see, no more than one neighborhood exists in one postal code area. No need for further data manipulation.

In [45]:
code_count = neighborhoods['Postal Code'].value_counts()
num_code = code_count.shape
num_code = num_code[0]
print('In total we have', num_code, 'codes')
k = 0
for i in range (0,103):
    if code_count[i] != 1:
        k = k + 1
print('In total we have',k, 'neighborhoods with same postal code')

In total we have 103 codes
In total we have 0 neighborhoods with same postal code

In [48]:
print('Shape of neighborhoods dataframe:', neighborhoods.shape)

Shape of neighborhoods dataframe: (103, 3)